/** ___  Overwrite  ____________________________________________ **/

#product_content_area .overview-wrapper{
	width: 100%;
}

#af-container #main-zone .container{
	width: 100%;
	max-width: 100%; 
}

ul, ol{
	margin: 0; 
	padding: 0; 
}